.whyus-container {
    margin-top: 50px;
    background-color: $light-white;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;

    @media (min-width:1440px) {
        margin-top: 80px;
        padding-top: 80px;
        padding-bottom: 90px;
    }
}

.whyus-cards {
    width: 88%;
    @include hoverEffect(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px,transform .3s);

    &:hover {
        transform: scale(1.02);
    }

    @media (min-width:768px) {
        width: 18rem;
    }

    @media (min-width:1920px) {
        width: 365px;
    }
}

.whyus-heading {
    width: 58%;
    margin-top: 30px;
}

.whyus-content {
    color: $grey;
    width: 85%;
    margin-top: 10px;

    @media (min-width:1440px) {
        width: 60%;
        font-size: 17px;
    }
}

.whyus-button {
    background-color: $yellow;
    font-size: 14px;
    color: $black;
    border: none;
    padding: 10px 10px;

    &:hover {
        box-shadow: none;
        outline: none;
        background-color: #FCC737;
    }

    @media (min-width:1440px) {
        width: 120px;
        padding: 11px;
    }
    @media (min-width:1920) {
        width: 123px;
        padding: 13px;
    }
}

.whyus-rectangle {
    @include topLeft-position(-1%,16%);

    @media (min-width:1024px) {
        @include topLeft-position(-3%,22%);
    }

    @media (min-width:1920px) {
        @include topLeft-position(-2%,28%);
    }
}

.whyus-img {
    width: 180px;

    @media (min-width:1440px) {
        width: 250px;
    }

    @media (min-width:1920px) {
        width: 300px;
        margin: 46px 29px 36px 29px;
    }
}

.whyus-research-img {
    width: 180px;

    @media (min-width:1024px) {
        width: 140px;
    }

    @media (min-width:1440px) {
        width: 193px;
        margin: -10px 29px 19px 29px;
    }

    @media (min-width:1920px) {
        width: 250px;
        margin: 57px 29px 19px 29px;
    }
}

.whyus-description {
    color: $grey;
}